section {
    padding: var(--section-padding);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--primary-color);
}

a:active {
    font-weight: bold;
}

.title {
    font-size: var(--xxl);
}

.sub-title {
    font-size: var(--lg);
}

.description {
    font-size: var(--md);
}

.small-text {
    font-size: var(--sm);
}

.btn {
    padding: var(--xs) var(--xxl);
    border-radius: var(--xs);
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    box-shadow: var(--box-shadow);
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.input-group{
    height: fit-content;
    width: 100%;
    margin: var(--md) 0;
    border: 1px solid #DADADA;
    border-radius: var(--xs);
    display: flex;
}

.input-group .icon{
    width: 40px;
    height: 100%;
}

.input-group .input-box{
    flex: 1;
    width: 100%;
    height: 100%;
    padding: var(--md);
    display: flex;
}

.input-group .input-box .show-password{
    cursor: pointer;
}

img{
    height: 100%;
    width: 100%;
}


